{% extends "base.html" %}
{% load static %}


{% block content %}

<section class="text-center mb-4">
     <div class="row wow fadeIn">

       {% for item in example %}
           <div class="col-lg-3 col-md-6 mb-4">
             <div class="card mb-3 zoom">

                 <a href="#">
                     <div class="view overlay">
                         <img height="250px" src="{{ item.model_pic.url }}" class="card-img-top">
                     </div>

                     <div class="card-body text-center">
                       <h5>
                         <strong>
                              nickname : {{item.nickname}}
                         </strong>

                         <strong>
                              mascota : {{item.name_pets}}
                         </strong>
                       </h5>
                 </a>

                 <p>tienes {{item.likes}} votos </p>
                 <div class="text-warning" style="font-size:0.7rem">
                     <span class="fa fa-star">
                     </span>
                     <span class="fa fa-star">
                     </span>
                     <span class="fa fa-star">
                     </span>
                     <span class="fa fa-star">
                     </span>
                     <span class="fa fa-star">
                     </span>
                 </div>
                 <form action="{% url 'like_post' item.nickname %}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="post_id" value="{{post_id}}" class="btn btn-primary">Votar</button>
                 </form>
               </div>

             </div>

         </div>
             {% endfor %}

   </section>


   
        {% endblock %}

   