{% extends "base.html" %}
{% load static %}

{% block content %}

<form action="/upload/" method="post" enctype="multipart/form-data">{% csrf_token %}
     <p>
         <input id="id_image" type="file" class="" name="image">
     </p>
     <p>
        <input id="id_nickname" type="text" class="" name="nickname">
    </p>
    <p>
        <input id="id_name_pets" type="text" class="" name="name_pets">
    </p>
     <input type="submit" value="Submit" />
</form>

{% endblock %}